DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DJANGO_ADMIN_URL=hidden_admin/
DATABASE_URL=postgres://{{ postgres_user }}:{{ postgres_password }}@localhost:5432/{{ postgres_database }}
ALLOWED_HOST={{ fqdn }}
